.container {
    background-color: olivedrab;
    width: 100vw;
    margin: 0;
}

.row {
    background: orchid;
    border-style: double;
    border-color: black;
}

header {
    text-align: center;
    background-color: gray;
    height: 50px;
    font-size: 30px;
    
}

#searchCol {
    margin: auto;
    border-style: double;
}

#resultCol {
    border-style: double;
    
}

#row5day {
    border-style: double;
    height: 75vh;
    width: 100vw;
    
}

.daily {
    text-align: left
}