.container {
    background-color: olivedrab;
    
}

.row {
    background: orchid;
    border-style: double;
    border-color: black;
}

header {
    text-align: center;
    background-color: gray;
    height: 50px;
    font-size: 30px;
    
}

#searchCol {
    border-style: double;
}

#resultCol {
    border-style: double;
}

#row5day {
    border-style: double;
    height: 50vh;
}
