body {
    background-color:  rgb(27, 31, 21);
}

.container {
    background-color: rgb(27, 31, 21);
    width: 100vw;
    margin: 0;
    color: burlywood
}

.row {
    background: rgb(36, 8, 35);
    border-style: double;
    border-color: black;
}

header {
    text-align: center;
    background-color: gray;
    height: 50px;
    font-size: 30px;
    
}

#searchCol {
    margin: auto;
    border-style: double;
}

#resultCol {
    border-style: double;
    
}

#row5day {
    border-style: double;
    height: 75vh;
    width: 100vw;
    
}

.daily {
    text-align: left
}

h3 {
    border-style: double
}

.dateLook {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.hide {
    display: none;
}